
$shadow-color: #00244B;
$shadow-color-opacity: #00244be8;

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('~@/assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    width: 30%;
    box-shadow: 2px 2px 20px 1px;
    display: flex;
    flex-direction: column;
  }
  
  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
    h1{
      margin-block: 0px;
      p{
        margin-block: 0px;
      }
    }
  }
  
  .modal-header {
    background-color: $shadow-color-opacity;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30px);
    position: relative;
    border-bottom: 1px solid #eeeeee;
    color: #74d13a;
    justify-content: space-between;
    font-size: 2vw;
    h1{
      width: 100%;
      p{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  
  .modal-footer {
    border-top: 1px solid #eeeeee;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .modal-body {
    background: #FFFFFF;
    color: #3D7DBD;
    font-weight: bolder;
    position: relative;
    padding: 20px 10px;
    .typesInput{
      margin-block: 10px;
      width: fit-content;
    }
    .modalBodySlot *{
      margin-block: 40px;
    }
  }

  .select-dropdown {
    margin-left: 15px;
    position: relative;
    width: auto;
    float: right;
    background-color: #002951;
    max-width: 100%;
    border-radius: 2px;
    select {
      background-color: #002951;
      color: #74d13a;
      font-family: "helvetica neue", helvetica;
      font-size: 1rem;
      font-weight: 100;
      max-width: 100%;
      padding: 8px 24px 8px 10px;
      border: none;
      -webkit-appearance: none;
        -moz-appearance: none;
              appearance: none;
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    &:after {
      content: " ";
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: 8px;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #EB9A28;
    }
  }

  // select.select{
  //   width: 100px;
  //   height: 25px;
  //   font-size: medium;
  //   background: #002951;
  //   color: #74d13a;
  //   font-weight: bold;
  //   border-color: white;
  //   border-radius: 5px;
  // }
  // select.select:hover {
  //   background-image:
  //     linear-gradient(45deg, transparent 50%, blue 50%),
  //     linear-gradient(135deg, blue 50%, transparent 50%),
  //     linear-gradient(to right, skyblue, skyblue);
  //   background-position:
  //     calc(100% - 15px) 1em,
  //     calc(100% - 20px) 1em,
  //     100% 0;
  //   background-size:
  //     7px 7px,
  //     7px 7px,
  //     2em 2em;
  //   background-repeat: no-repeat;
  //   border-color: white;
  //   outline: 0;
  // }

  