$primary-color: #0085b6;
$secondary-color: #3D7DBD;
$icon-color: #EB9A28;
$border-color: #6573BC;
$shadow-color: #00244B;

body{
    margin: 0px;
}

.logo{
    margin: auto;
    margin-left: 10px;
    margin-right: 20px;
    height: 80px;
}

header{
    z-index: 9999;
    font-size: 200%;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-flex;
    background-color: $shadow-color;
    
    i{
        color: $icon-color;
    }

    .lateralMenu{
        width: 200px;
        top: 0px;
        right: 0px;
        position: fixed;
        height: 100%;
        background-color: #00244be8;
        div{
            width: 100%;
            border-bottom: 1px solid  #EB9A28;
            cursor: pointer;
            width: max-content;
            margin-top: 30px;
            margin-inline: auto;
            .link{
                border: 0;
            }
        }

        .top{
            margin-bottom: 30px;
            margin-top: 15px;
            padding-bottom: 10px;
            margin-inline: auto;
            display: flex;
            justify-content: space-between;
            .close, .user{
                margin: 0;
                border-bottom: 0px;
            }
            border: 0;
            width: 90%;
            display: flex;
            border-bottom: 1px solid  #EB9A28;
        }
    }
    .navHeaderReduce{
        align-items: center;
        margin-right: 20px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        i{
            cursor: pointer;
        }
    }

    .link{
        border-radius: 5px;
        border: 1px solid $icon-color;
        color: $icon-color;
        text-decoration: none;
        padding: 5px;
    }

    .nav{
        display: inline-flex;
        justify-content: space-between;
        width: calc(100% - 187px);

        .navList{
            justify-content: space-between;
            width: 80%;
            nav {
                .logged{
                    margin: auto;
                    margin-inline: auto;
                    // width: calc(100%/4);
                }
            }
        }

        .navHeader nav, .navList nav, .navHeaderReduce nav{
            height: 100%;
            align-items: center;
            justify-content: space-between;
            display: flex;
        }

        .navHeader{
            margin-right: 10px;
            width: 30%;
            display: flex;
            flex-wrap: wrap-reverse;
            align-content: flex-end;
            justify-content: end;
            div.user{
                margin-left: 15px;
                .user{
                    border: 0;
                }
            }
        }

        .navList nav{
            margin-inline: auto;
        }
    }
}

